extends layout

block content
  #mobile
    #getStarted(style="display: none;")
      a(href="") Enabled Access
    a#trigger(href="")
  #desktop
    a#fork(href="http://github.com/gkoberger/produckhunt")
    #flash
    #setup.full
      .pg1
        include logo
        h1 Produck Hunt
        #getstarted
          .number
            input(type="text", placeholder="Enter Phone Number", id="phone-input")
          span.or or
          a#start(href="/") Manually Get A Code
        .demo
          .hand
            .bg
            .overlay
            .finger
          .computer
            .bg
            .fly1
            .fly2
            .dog
            .overlay

      .pg2
        h2.show-text  We've texted you the URL for your game <a href="#" id="not-working">Not Working?</a>
        //<strong class="id"></strong>
        h2.show-manual Go to produckhunt.co on your phone and enter in code <strong class="id"></strong>
        p Waiting for connection from phone&hellip;
        //p Didn't get a text? Go to produckhunt.co and enter <strong class="id"></strong>
        include phone
        p (Currently only tested with Chrome and an iPhone; we'll test more devices soon!)

      .pg3
        h2 Practice Shooting!
        h3 Hold like a gun and tap the screen
        #progress
          .progresscircle.p1
          .progresscircle.p2
          .stop
          .hand
            .bg
            .overlay
            .finger

      .pg4
        .center
          h2 Calibrating Gun
          h3 Point your phone and tap/fire at each target
        .target
          .dot
          .spinner

      .pg5.full
        #dog
        #dogLaugh
        #gameOver
          h2 Game Over
          a(href="/")#restart Try Again
        #showscore
        #dot
        .bird-parent.bird-parent1
          .frantic
            .bird.bird1
              .details
                h3
                p
        .bird-parent.bird-parent0
          .frantic
            .bird.bird0
              .details
                h3
                p
        .bird-parent.bird-parent2
          .frantic
            .bird.bird2
              .details
                h3
                p
        .grass
        .stats
          .container
            .row
              .col-xs-3
                .stats-box#stats-votes
                  span VOTES LEFT
                  .vote.v1
                  .vote.v2
                  .vote.v3
              .col-xs-5
                .stats-box.stats-hunted
                  span PRODUCTS HUNTED
                  .stat-hit
                  .stat-hit
                  .stat-hit
                  .stat-hit
                  .stat-hit
                  .stat-hit
              .col-xs-4
                .stats-box.stats-score
                  span SCORE (LVL <em id="current-level">1</em>)
                  strong#score 000000

  style#css

