.phone-container
  .shadow
  .phone
    .left-a
    .front-a
      .screen
        .middle
        .button
        .corner.tl
        .corner.tr
        .corner.bl
        .corner.br
    .bottom-a
    .top-a
    .right-a

    .left-b
    .front-b
    .front-b2
    .bottom-b
    .bottom-b2
    .right-b
    .top-b
    .top-b2
