@import nib

greyish = #eee

body
  background-color greyish


.big-gulp
  text-align center
  img
    display block
    height 250px
    margin 30px auto 20px
  strong
    display block
    margin-bottom 10px

