@import nib

greyish = #eee
mono = 'VT323', Courier

body
  background-color greyish
  &.mobile.ready
    background-color #000
    background-image url("../img/instructions.png")
    background-repeat no-repeat
    background-position center center
    min-height 150px
    background-size contain
    transition background-color 0.2s ease-out
    &.flash
      background-color #fff
      transition background-color 0s
    #trigger
      width 100%
      height 100%
      display block
      position absolute
      top 0
      left 0

#flash
  z-index 10000
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(#fff, 0.5)
  pointer-events none
  opacity 0
  transition opacity 0.15s ease-out
  &.on
    opacity 1
    transition opacity 0s

.mobile #desktop
  display none

#mobile
  display none
  .mobile &
    display block

#setup
  background radial-gradient(#f4ce64, #c59615)
  overflow hidden
  position absolute
  .pg1
    padding-top 100px
    position absolute
    width 100%
    h1
      width 437px
      height 82px
      image '../img/logo.png' 437px 82px
      background-repeat no-repeat
      margin 70px auto 0
      text-indent -99999px
    .number
      border-top 10px solid #000
      width 300px
      margin-top 20px
      border-bottom 10px solid #000
      margin auto
      position relative
      &:before, &:after
        content ""
        background-color #000
        width 10px
        height 100%
        display block
        left -10px
        position absolute
        top 0
      &:after
        left auto
        right -10px
      input
        width 300px
        font-size 30px
        text-align center
        padding 8px 15px
        font-family mono
        border 0
        &:focus, &:active
          outline 0
    .demo
      width 550px
      margin auto
      height 300px
      position relative
      .hand
        width 164px
        height 94px
        image '../img/gun.png' 164px 94px
        top 60px
        left 60px
        position absolute
        animation hand 8s linear infinite
      .computer
        width 370px
        height 244px
        right 0
        bottom 0
        position absolute
        .bg
          background-color #48c5ff
          width 164px
          height 150px
          position absolute
          right 26px
          bottom 80px
          transform rotate(10deg)
        .fly1
          width 41px
          height 31px
          position absolute
          top 30px
          left 210px
          image '../img/fly1.png' 41px 31px
          animation hand 10.8s infinite -5s
        .fly2
          width 41px
          height 31px
          position absolute
          top 30px
          left 280px
          image '../img/fly2.png' 41px 31px
          animation hand 10.8s infinite
        .overlay
          width 370px
          height 244px
          image '../img/computer.png' 370px 244px
          position absolute
          top 0
          left 0
          z-index 100
    #start
      margin auto
      display block
      width 150px
      text-align center
      margin-top 40px
      color #fff
      text-decoration none
      background-color #d85636
      font-family mono
      padding 8px 0
      font-size 20px
      border-top 5px solid #333
      border-bottom 5px solid #333
      position relative
      &:hover
        background-color darken(#d85636, 15%)
      &:before, &:after
        width 5px
        height 100%
        position absolute
        top 0
        left -5px
        background-color #333
        display block
        content ""
      &:after
        right -5px
        left auto
    .logo
      width 66px
      height 66px
      position relative
      left 50%
      margin-left -33px
      .empty, .black, .white, .orange
        width 6px
        height 6px
        float left
      .black
        background-color #222
      .white
        background-color #fff
      .orange
        background-color #d85636
      animation logo 2.5s ease-out infinite
    .shadow
      width 60px
      height 60px
      background-color rgba(0,0,0,0.1)
      border-radius 80px
      left 50%
      margin-top 7px
      position absolute
      margin-left -30px
      transform scaleY(.2)
      animation shadow 2.5s ease-out infinite
  .pg2
    display block
    height 310px
    top 50%
    position absolute
    width 100%
    margin-top -160px
    h2
      margin-bottom 10px
      text-align center
      color rgba(0,0,0,0.5)
      font-family mono
    p
      margin-bottom 40px
      text-align center
      color rgba(0,0,0,0.5)
      font-family mono
    display none
    .phone-container
      margin auto
      top -110px
      width 14px * 12
      height 14px * 24
      position relative
      perspective 1000px
      .shadow
        width 180px
        height 260px
        position absolute
        top 130px
        background-color rgba(0,0,0,0.05)
        transform rotateX(610deg) rotateY(0deg) rotateZ(-160deg)
        transform-style preserve-3d
        border-radius 10px
        animation phone-spin 9s linear infinite
    .phone
      width 14px * 12
      height 14px * 24
      position absolute
      transform-style preserve-3d
      transform rotateX(610deg) rotateY(0deg) rotateZ(-160deg)
      animation phone-spin 9s linear infinite
      & > *
        position absolute
        top 0
        left 0
      .left-a
        background-color #000
        width 14px * 2
        height 14px * 24
        transform rotateY(-90deg)
        transform-origin 0 0
      .right-a
        background-color #000
        margin-left 14px * 12
        width 14px * 2
        height 14px * 24
        transform rotateY(-90deg)
        transform-origin 0 0
      .front-a
        background-color #333
        width 14px * 12
        height 14px * 24
        transform rotateY(0deg) translateZ(0px)
        .screen
          width 14px * 12
          height 14px * 22 
          margin-left 0px
          margin-top 14px
          background-color #eee
          position relative
          .middle
            position relative
            margin-left 14px
            top 14px
            background-color #999
            width 14px * 10
            height 14px * 17
          .button
            position absolute
            bottom 14px * 2
            width 14px
            height 14px
            left 14px * 5
            background-color #ccc
          .corner
            width 14px
            height 14px
            background-color #333
            position absolute
            &.tl
              top 0
              left 0
            &.tr
              top 0
              right 0
            &.bl
              bottom 0
              left 0
            &.br
              bottom 0
              right 0

      .bottom-a
        background-color #555
        height 14px * 2
        width 14px * 12
        transform rotateX(90deg)
        transform-origin 0 0
      .top-a
        background-color #555
        height 14px * 2
        width 14px * 12
        transform rotateX(90deg)
        transform-origin 0 0
        margin-top 14px * 24

      .left-b
        background-color #000
        width 14px * 2
        height 14px * 22
        transform rotateY(-90deg)
        transform-origin 0 0
        margin-left -14px
        margin-top 14px
      .front-b
        background-color #333
        width 14px * 1
        height 14px * 22
        transform rotateY(0deg) translateZ(0px)
        margin-left -14px
        margin-top 14px
      .right-b
        background-color #000
        margin-left 14px * 13
        margin-top 14px
        width 14px * 2
        height 14px * 22
        transform rotateY(-90deg)
        transform-origin 0 0
      .front-b2
        background-color #333
        width 14px * 1
        height 14px * 22
        transform rotateY(0deg) translateZ(0px)
        margin-left 14px * 12
        margin-top 14px
      .bottom-b
        background-color #555
        height 14px * 2
        width 14px * 1
        transform rotateX(90deg)
        transform-origin 0 0
        margin-top 14px
        margin-left -14px
      .bottom-b2
        background-color #555
        height 14px * 2
        width 14px * 1
        transform rotateX(90deg)
        transform-origin 0 0
        margin-top 14px
        margin-left 14px * 12
      .top-b
        background-color #555
        height 14px * 2
        width 14px * 1
        transform rotateX(90deg)
        transform-origin 0 0
        margin-top 14px * 23
        margin-left -14px
      .top-b2
        background-color #555
        height 14px * 2
        width 14px * 1
        transform rotateX(90deg)
        transform-origin 0 0
        margin-top 14px * 23
        margin-left 14px * 12
  .pg3
    display none
    width 100%
    position absolute
    top 50%
    margin-top -200px
    text-align center
    h2
      margin-bottom 40px
      text-align center
      color rgba(0,0,0,0.8)
      font-size 40px
      font-family mono
    h3
      margin-top 30px
      text-align center
      color rgba(0,0,0,0.5)
      font-family mono
    .wrapper
      margin auto
      position relative
      width 536px
      height 300px
      .hand
        position absolute
        top 0
        left 0
        z-index 100
        width 476px
        height 300px
        image '../img/3-hand.png' 476px 300px
        opacity 1
        transition 0.5s ease-out
        transform rotate(20deg)
        transform-origin 0 80%
      .phone
        position absolute
        top 21px
        left 231px
        width 292px
        height 168px
        image '../img/3-phone.png' 292px 168px
        opacity 1
        transition 0.5s ease-out
        transform rotate(-20deg)
        transform-origin 0 50%
    &.loaded
      .wrapper
        .hand, .phone
          transform translate(0)
          opacity 1
  .pg4
    display none
    .center
      position absolute
      top 50%
      left 0
      width 100%
      height 220px
      margin-top -120px
    h2
      margin-top 0
      margin-bottom 140px
      text-align center
      color rgba(0,0,0,0.8)
      font-size 40px
      font-family mono
    h3
      margin-top 30px
      text-align center
      color rgba(0,0,0,0.5)
      font-family mono
    .target
      width 60px
      height 60px
      margin-left -30px
      margin-top -30px
      background-color #fff
      border-radius 200px
      position absolute
      transition 1s ease-out
      left 0
      top 0
      .spinner
        position absolute
        top -20px
        left -20px
        image '../img/loading.png' 100px 100px
        background-size cover
        width 100px
        height 100px
        animation spin 0.8s linear infinite
      &.t
        left 50%
        top 0%
      &.r
        left 100%
        top 50%
      &.b
        left 50%
        top 100%
  .pg5
    background-color #48c5ff
    display none
    #gameOver
      display none
      text-align center
      color #fff
      padding-top 100px
      font-family mono
      h2
        font-size 80px
      #restart
        margin auto
        display block
        width 250px
        text-align center
        color #fff
        text-decoration none
        background-color #d85636
        font-family mono
        padding 12px 0
        font-size 30px
        border-top 10px solid #333
        border-bottom 10px solid #333
        position relative
        &:hover
          background-color darken(#d85636, 15%)
        &:before, &:after
          width 10px
          height 100%
          position absolute
          top 0
          left -10px
          background-color #333
          display block
          content ""
        &:after
          right -10px
          left auto
    #dogLaugh
      image '../img/dogLaugh.png' 256px 134px
      width 128px
      height 134px
      position absolute
      bottom 0
      right 230px
      transition transform 0.8s ease-out
      &.on
        transform translateY(-292px)
        animation laugh 0.6s steps(2) infinite
    #dog
      image '../img/dog.png' 353px 224px
      width 343px
      height 224px
      position absolute
      bottom 0
      right 200px
      transition 0.8s ease-out
      &.on
        transform translateY(-280px)
    #showscore
      width 275px
      color #fff
      font-family mono
      position absolute
      width 275px
      color #fff
      font-family 'VT323', Courier
      position absolute
      font-size 50px
      line-height 0
      text-align center
      opacity 0
      transition 0.9s ease-out
      transform translateY(0px)
      &.on
        transition 0s
        opacity 1
        transform translateY(40px)
    .grass
      z-index 100
      image '../img/grass.png' 475px 230px
      width 100%
      height 230px
      bottom 100px
      left 0
      position absolute
    .stats
      background-color #7d6b15
      height 100px
      bottom 0
      left 0
      width 100%
      position absolute
      .stats-box
        z-index 101
        border-top 7px solid #333
        border-bottom 7px solid #333
        height 110px
        background-color #fff
        position relative
        top -20px
        position relative
        margin 0 20px
        font-family mono
        text-align center
        font-size 30px
        padding-top 10px
        line-height 1em
        &#stats-votes
          .vote
            display inline-block
            margin 5px
            width 35px
            height 39px
            image '../img/votes.png' 70px 39px
            background-position 0 0
          &.shots-2, &.shots-1,&.shots-0
            .v3
              background-position -35px 0
          &.shots-1,&.shots-0
            .v2
              background-position -35px 0
          &.shots-0
            .v1
              background-position -35px 0
        .stat-hit
          display inline-block
          margin 5px
          width 35px
          height 35px
          image '../img/score.png' 105px 35px
          background-position -35px 0
          &.status-missed
            background-position -70px 0
          &.status-hit
            background-position 0 0
          &.status-current
            background-position 0 0
            animation flash 1s infinite
        span
          display block
          em
            font-style normal
        strong
          display block
          font-size 50px
        &:before, &:after
          position absolute
          left -7px
          top 0
          height 100%
          width 7px
          content ""
          background-color #333
          display block
        &:after
          left auto
          right -7px
    .bird-parent
      position absolute
      bottom 0
      width 275px
      height 148px
      .bird
        width 275px
        height 148px
        image '../img/ph.png' 1100px 148px
        animation fly 0.8s steps(4) infinite
      .details
        top 155px
        position relative
        h3
          margin-bottom 0
          color #fff
          font-size 20px
          text-align center
          height 1.2em
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          font-family mono
        p
          color rgba(#fff, 0.8)
          font-size 16px
          text-align center
          font-family mono
          height 1.2em
          overflow hidden
          text-overflow ellipsis
          white-space nowrap
          font-family mono
      &.reset
        transition transform 0s ease-out 0 !important
      &.active
        transition transform 0.5s ease-out
        .frantic
          animation frantic 10.8s infinite
        &.bird-parent1
          .frantic
            animation frantic 13.8s infinite -5.3s
        &.bird-parent2
          .frantic
            animation frantic 8.8s infinite -9.3s
      &.bird-parent0
        left 45%
      &.bird-parent1
        left 15%
        transition transform .5s ease-out 0.4s
        animation-delay 0.4s
        .bird
          image '../img/ph2.png' 1100px 148px
      &.bird-parent2
        left 75%
        transition transform .5s ease-out 0.8s
        animation-delay 0.4s
        .bird
          image '../img/ph1.png' 1100px 148px
      &.hit
        opacity 0.3
        transform translateY(0) !important
        transition transform .5s ease-out 0
      &.fly
        opacity 0.3
        transition transform .5s ease-out 0
    #dot
      top 0
      left 0
      width 72px
      height 57px
      image '../img/pointer.png' 72px 57px
      position absolute
      z-index 1000
  
@keyframes laugh
  to
    background-position 256px 0
    
@keyframes fly
  to
    background-position -1100px 0
    
@keyframes hand
  0%
    transform translateX(0px)
  25%
    transform translateX(15px) translateY(30px)
  50%
    transform translateX(-20px) translateY(15px)
  75%
    transform translateY(15px) translateX(30px)
  100%
    transform translateX(0px)
    
@keyframes frantic
  0%
    transform translateX(0px)
  10%
    transform translateY(-130px)
  20%
    transform translateX(-130px) translateY(40px)
  30%
    transform translateY(-130px)
  40%
    transform translateY(30px) translateX(50px)
  50%
    transform translateX(130px)
  60%
    transform translateX(0px)
  70%
    transform translateX(0px) translateY(-30px)
  80%
    transform translateY(-120px) translateY(0px)
  90%
    transform translateY(120px) translateX(20px)
  100%
    transform translateX(0px)
    
@keyframes spin
  0%
    transform rotate(0deg)
  50%
    transform rotate(180deg)
  100%
    transform rotate(360deg)
    
@keyframes flash
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1
    
@keyframes logo
  0%
    transform translate(0)
  50%
    transform translateY(15px)
  100%
    transform translate(0)
    
@keyframes shadow
  0%
    transform scaleY(.2)
  50%
    transform scaleY(.25) scaleX(1.2)
  100%
    transform scaleY(.2)
    
@keyframes phone-spin
  0%
    transform rotateX(610deg) rotateY(0deg) rotateZ(200deg)
  100%
    transform rotateX(610deg) rotateY(0deg) rotateZ(-160deg)

#box
  position absolute
  background-color #ddd
  top 0
  left 0
  opacity 0.5
  #dot
    width 10px
    height 10px
    background-color red
    position absolute

.big-gulp
  text-align center
  img
    display block
    height 250px
    margin 30px auto 20px
  strong
    display block
    margin-bottom 10px

