extends layout

block content
  .container
    .big-gulp
      img(src="/img/big-gulp.png")
      strong Welcome to your new static website
      a.btn.btn-primary#test-js(href="#")
        i.fa.fa-thumbs-up.fa-right It works!
