.logo
  .empty
  .empty
  .empty
  .empty
  .black
  .black
  .black
  .empty
  .empty
  .empty
  .empty
  
  .empty
  .empty
  .black
  .black
  .orange
  .orange
  .orange
  .black
  .black
  .empty
  .empty

  .empty
  .black
  .orange
  .orange
  .orange
  .orange
  .orange
  .orange
  .orange
  .black
  .empty

  .empty
  .black
  .orange
  .orange
  .white
  .white
  .white
  .orange
  .orange
  .black
  .empty

  .black
  .orange
  .orange
  .orange
  .white
  .orange
  .orange
  .white
  .orange
  .orange
  .black

  .black
  .orange
  .orange
  .orange
  .white
  .white
  .white
  .orange
  .orange
  .orange
  .black

  .black
  .orange
  .orange
  .orange
  .white
  .orange
  .orange
  .orange
  .orange
  .orange
  .black

  .empty
  .black
  .orange
  .orange
  .white
  .orange
  .orange
  .orange
  .orange
  .black
  .empty

  .empty
  .black
  .orange
  .orange
  .orange
  .orange
  .orange
  .orange
  .orange
  .black
  .empty
  
  .empty
  .empty
  .black
  .black
  .orange
  .orange
  .orange
  .black
  .black
  .empty
  .empty

  .empty
  .empty
  .empty
  .empty
  .black
  .black
  .black
  .empty
  .empty
  .empty
  .empty
.shadow
